.synovideo_widget{
   height: 312px !important;
   width: 312px !important;
    
}
.synovideo_widget.synovideo.light {
	height:152px !important;
}       
        

.synovideo_widget.griser {
	pointer-events: none;
	-moz-opacity:0.38;
	opacity:0.38;
	filter:alpha(opacity=38);
	-khtml-opacity:0.38;"
}


.synovideo_widget .sp_titlespSV,
.synovideo_widget .sp_thumbnailAlbumArt,
.synovideo_widget .sp_statusspSV,
.synovideo_widget .sp_positionSV{
    position:relative;
    margin: 4px 0;
}
.synovideo_widget .sp_thumbnailAlbumArt{
    position:relative;
    margin: -28px 0 -22px 0;   
}

 .synovideo_widget .sp_thumbnailAlbumArt img{
    width:45%;
}

.synovideo_widget .sp_positionSV  .position100{
    width:80%;
    margin: 0 10%;
}

.synovideo_widget .sp_CmdSV{
    position:relative;
    margin: 10px 0 4px 0;
    height: 24px;
}

.synovideo_widget .sp_CmdSV .mute,
.synovideo_widget .sp_CmdSV .unmute,
.synovideo_widget .sp_CmdSV .stop,
.synovideo_widget .sp_CmdSV .previous,
.synovideo_widget .sp_CmdSV .next,
.synovideo_widget .sp_CmdSV .bt_volume_down,
.synovideo_widget .sp_CmdSV .bt_volume_up,
.synovideo_widget .sp_CmdSV .play,
.synovideo_widget .sp_CmdSV .pause{
	width: 20px;
	height: 20px;
	font-size : 1.5em;
    margin: 0 4px;
}

.synovideo_widget .sp_PanelSV{
    position:relative;
    margin: 10px 0 4px 0;
    height: 20px;
}
.synovideo_widget .sp_PanelSV .movie,
.synovideo_widget .sp_PanelSV .tvshow,
.synovideo_widget .sp_PanelSV .movieinfo,
.synovideo_widget .sp_PanelSV .search{
	width: 20px;
	height: 20px;
	font-size : 1.3em;
    margin: 0 4px;
}

.synovideo_widget .sp_CmdSV .repeat_all i,
.synovideo_widget .sp_CmdSV .shuffle_on i,
.synovideo_widget .sp_CmdSV .mute_on i{
    color:red;
}
.synovideo_widget .sp_CmdSV  .repeat_one i{
    color:blue;
}

		
		.synovideo_widget .infoduree{
			font-size:9px;
			width: 30px;
			height:7px;
		}
		.synovideo_widget .infoduree.infoposition{
			display: inline;
			float: left;
			margin: 1px 0 0 5px;
		}
		.synovideo_widget .infoduree.infoduration{
			display: inline;
			float: right;
			margin: 1px 5px 0 0;
		}