<div class="eqLogic eqLogic-widget noresize synovideo_widget synovideo"
    style="text-align:center; width: 312px;#style#;height:312px;border:#border#;
border-radius:#border-radius#;
background-color: #background-color#;
color: #color#;" 
	data-eqType="#eqType#" 
    data-translate-category="#translate_category#" 
    data-category="#category#" 
    data-tags="#tags#" 
    data-version="#version#" 

	data-syno-id="#synoid#"
    data-eqLogic_id="#id#" 
	data-eqLogic_uid="#uid#"    >
    <link rel="stylesheet" href="plugins/synovideo/core/template/dashboard/css/synovideo.css" />
	
    <center class="widget-name">
		<span class="reportModeVisible" style="font-size : 1.2em;display:none;">#name_display# <span style="font-size: 0.85em;">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden" style="font-size : 1.2em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a>
	</center>
	
	<div class="sp_titlespSV">
		<span class="titlespSyno">
			#title#
		</span>
	</div>
	<div class="sp_thumbnailAlbumArt">
		<img src="#thumbnail#" />
	</div>
    <div class="sp_statusspSV">
	     <span class="statusspSyno">#state#</span>
	</div>
	<div class="sp_positionSV" >
		<div class="position100" data-cmd_id="#position_id#" style="width: 220px;" value="#position100#" ></div>
	</div>
	
	<div class="sp_positioninfoSV" >
		<span class="infoduree infoposition" id="position"></span>
		<span class="infoduree infoduration" id="duration"></span>
	</div>	

	<div class="sp_CmdSV">
		<a class="cmd mute" data-cmd_id="#cmd_mute_id#"><i class="fas fa-volume-off"></i></a>
		<a class="cmd unmute" data-cmd_id="#cmd_unmute_id#"><i class="fas fa-times"></i></a>
		<a class="cmd stop" data-cmd_id="#cmd_stop_id#"><i class="fas fa-stop"></i></a>
		<a class="cmd play" data-cmd_id="#cmd_play_id#"><i class="fas fa-play"></i></a>
		<a class="cmd pause" data-cmd_id="#cmd_pause_id#"><i class="fas fa-pause"></i></a>
		<a class="bt_volume_down" data-cmd_id="#volume_id#" ><i class="fas fa-volume-down"></i></a>
		<a class="bt_volume_up" data-cmd_id="#volume_id#" ><i class="fas fa-volume-up"></i></a>
	</div>
	
    <div class="sp_PanelSV">
		<i class="fas fa-film cursor movie tooltips" title="Films"></i>
		<i class="fas fa-list-alt cursor tvshow tooltips" title="Séries"></i>
   		<i class="fas fa-info-circle cursor movieinfo tooltips" title="Info lecture"></i>
		<i class="fas fa-search cursor search tooltips" title="Recherche"></i>
	</div>
	
	<script>
		var position_#id# = #position#;
		//var position = 437000;
		var phours = Math.floor((position_#id# % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var pminutes = Math.floor((position_#id# % (1000 * 60 * 60)) / (1000 * 60));
		var pseconds = Math.floor((position_#id# % (1000 * 60)) / 1000);
		$(".synovideo[data-eqLogic_id=#id#] .infoposition").text(phours + ":"+ pminutes + ":" + pseconds);
		
		var duration_#id# = #duration#;
		//var duration = 5739000;
		var dhours = Math.floor((duration_#id# % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var dminutes = Math.floor((duration_#id# % (1000 * 60 * 60)) / (1000 * 60));
		var dseconds = Math.floor((duration_#id# % (1000 * 60)) / 1000);
		$(".synovideo[data-eqLogic_id=#id#] .infoduration").text(dhours + ":"+ dminutes + ":" + dseconds);

        
		$(".synovideo[data-eqLogic_id=#id#] .position100").slider({
			min: 0,
			max: 100,
			range: "min",
			value: ('#position100#' == '') ? 0 : parseInt('#position100#'),
		});
		
		$(".synovideo[data-eqLogic_id=#id#] .slider.slider-horizontal").css('z-index',1);
		$(".synovideo[data-eqLogic_id=#id#] .position100").on('slidestop', function (event,ui) {
			if(#seekable# == 1){
				jeedom.cmd.execute({id: '#position_id#', value: {slider: ui.value}});
			}
		});
		
		
		if('#blockVolume#' == 0){
			$('.synovideo[data-eqLogic_id=#id#] .bt_volume_down').hide();
			$('.synovideo[data-eqLogic_id=#id#] .bt_volume_up').hide();
		}
		$('.synovideo[data-eqLogic_id=#id#] .bt_volume_down').on('click', function() {
			var volume = ('#volume#' == '') ? 0 : parseInt('#volume#');
			var new_volume =  volume-3;
			jeedom.cmd.execute({id: '#volume_id#', value: {volume: new_volume}});
		});
		$('.synovideo[data-eqLogic_id=#id#] .bt_volume_up').on('click', function() {
			var volume = ('#volume#' == '') ? 0 : parseInt('#volume#');
			var new_volume =  volume+3;
			jeedom.cmd.execute({id: '#volume_id#', value: {volume: new_volume} });
		});

        
		if('#state#' == 'Player hors ligne'){
			$('.synovideo[data-eqLogic_id=#id#]').addClass('griser');
		}
		
		if('#hideThumbnail#' == 1){
			$('.synovideo[data-eqLogic_id=#id#] .sp_thumbnailAlbumArt').hide();
			$('.synovideo[data-eqLogic_id=#id#]').addClass('light');
		}

		if('#volume#' == 0 && '#onmute#' == 1){
			$('.synovideo[data-eqLogic_id=#id#] .cmd.mute').hide();
		}else{
			$('.synovideo[data-eqLogic_id=#id#] .cmd.unmute').hide();
		}
		

		if('#state_nb#' == 1){
			$('.synovideo[data-eqLogic_id=#id#] .cmd.play').hide();
		}else{
			$('.synovideo[data-eqLogic_id=#id#] .cmd.pause').hide();
		}
		
		$('.synovideo[data-eqLogic_id=#id#] .cmd').on('click', function() {
			jeedom.cmd.execute({id: $(this).data('cmd_id')});
		});

		$('.synovideo[data-eqLogic_id=#id#] .movie').on('click', function() {
			$('#md_modal2').dialog({title: "Films"});
			$('#md_modal2').load('index.php?v=d&plugin=synovideo&modal=movie.syno&id=#id#').dialog('open');
		});

		$('.synovideo[data-eqLogic_id=#id#] .tvshow').on('click', function() {
			$('#md_modal2').dialog({title: "Series"});
			$('#md_modal2').load('index.php?v=d&plugin=synovideo&modal=tvshow.syno&id=#id#').dialog('open');
		});

		$('.synovideo[data-eqLogic_id=#id#] .movieinfo').on('click', function() {
			$('#md_modal').dialog({title: "Infos lecture"});
			$('#md_modal').load('index.php?v=d&plugin=synovideo&modal=movieinfo.syno&id=#id#').dialog('open');
		});
		
		$('.synovideo[data-eqLogic_id=#id#] .search').on('click', function() {
			$('#md_modal2').dialog({title: "Recherche"});
			$('#md_modal2').load('index.php?v=d&plugin=synovideo&modal=search.syno&id=#id#').dialog('open');
		});

		if('#IsMultiple#' != 1){
			$('.synovideo[data-eqLogic_id=#id#] .player').hide();
		}
		$('.synovideo[data-eqLogic_id=#id#] .player').on('click', function() {
			$('#md_modal2').dialog({title: "Player"});
			$('#md_modal2').load('index.php?v=d&plugin=synovideo&modal=player.syno&id=#id#').dialog('open');
		});

	</script>
</div>
