<div class="eqLogic eqLogic-widget synovideo_widget synovideo"
    data-eqType="#eqType#" 
    data-translate-category="#translate_category#" 
    data-category="#category#" 
    data-tags="#tags#" 
    data-version="#version#" 
	style="text-align:center;
        border:#border#;
        border-radius:#border-radius#;
        background-color: #background-color#;
        color: #color#;
        #style#"
    data-syno-id="#synoid#"
    data-eqLogic_id="#id#" 
    data-eqLogic_uid="#uid#"     >
    <link rel="stylesheet" href="plugins/synovideo/core/template/mobile/css/synovideo.css" />

	<center class="widget-name">       
		<span class="reportModeVisible" style="font-size : 1.2em;display:none;">#name_display# <span style="font-size: 0.85em;">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden" style="font-size : 1.2em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a>
    </center>
    <div class="widget-content" >
        <div class="sp_titlespSV">
            <span class="titlespSyno">
                #title#
            </span>
		</div>
        <div class="sp_thumbnailAlbumArt">
            <img src="#thumbnail#" />
        </div>
        <div class="sp_statusspSV">
            <span class="statusspSyno">#state#</span>
        </div>
        
        <div class="sp_CmdSV">
            <a class="cmd stop" data-cmd_id="#cmd_stop_id#"><i class="fas fa-stop"></i></a>
            <a class="cmd play" data-cmd_id="#cmd_play_id#"><i class="fas fa-play"></i></a>
            <a class="cmd pause" data-cmd_id="#cmd_pause_id#"><i class="fas fa-pause"></i></a>
            <a class="cmd mute" data-cmd_id="#cmd_mute_id#"><i class="fas fa-volume-off"></i></a>
            <a class="cmd unmute" data-cmd_id="#cmd_unmute_id#"><i class="fas fa-times"></i></a>
        </div>
        
        <div class="sp_volumeSV" >
            <div class="volume full-width-slider cmd" data-cmd_id="#volume_id#" >
                <input type="range" min="0" max="100" data-theme="a" value="#volume#"/>
            </div>
        </div>
	</div>
	<script>


		$("body").undelegate(".synovideo[data-eqLogic_uid=#uid#] .volume",'slidestop');
		$("body").delegate(".synovideo[data-eqLogic_uid=#uid#] .volume",'slidestop', 		function (event, ui) {
					jeedom.cmd.execute({id: '#volume_id#', value: {slider: $(".synovideo[data-eqLogic_uid=#uid#] .volume input").value()}});
				}
		);
	
		if('#volume#' == 0 && '#onmute#' == 1){
			$('.synovideo[data-eqLogic_uid=#uid#] .mute').hide();
		}else{
			$('.synovideo[data-eqLogic_uid=#uid#] .unmute').hide();
		}
		
		if('#state#' == 'Player hors ligne'){
			$('.synovideo[data-eqLogic_id=#id#]').addClass('griser');
		}
		if('#hideThumbnail#' == 1){
			$('.synovideo[data-eqLogic_id=#id#] .sp_thumbnailAlbumArt').hide();
			$('.synovideo[data-eqLogic_id=#id#]').addClass('light');
		}

		if('#mute_state#' == 1){
			$(".synovideo[data-eqLogic_uid=#uid#] .mute").css('color','red');
		}
		
		if('#state_nb#' == 1){
			$('.synovideo[data-eqLogic_uid=#uid#] .play').remove();
		}else{
			$('.synovideo[data-eqLogic_uid=#uid#] .pause').remove();
		}

        $('.synovideo[data-eqLogic_id=#id#] .cmd').on('click', function() {
			jeedom.cmd.execute({id: $(this).data('cmd_id')});
		});
        
	</script>
</div>