.synovideo_widget{
   height: 14.5em;

}

.synovideo_widget.synovideo.light {
	height:9em !important;*/
}

.synovideo_widget.griser {
	pointer-events: none;
	opacity:0.38;
}
.synovideo_widget .widget-content {
    margin-top : 5px;
    height:12em;
}

.synovideo_widget .sp_titlespSV,
.synovideo_widget .sp_statusspSV{
    position:relative;
    margin: 4px 0;
}

.synovideo_widget .sp_thumbnailAlbumArt{
    position:relative;
    margin: -28px 0 -22px 0;   
}

 .synovideo_widget .sp_thumbnailAlbumArt img{
    height: 8.5em;
}
.synovideo_widget .sp_volumeSV{
    height:3em;
    margin-top:6px;
}

.synovideo_widget .sp_volumeSV  .volume{
    width: 96%;
    text-align: right;
    min-width : 100px;
}

.synovideo_widget .sp_CmdSV{
    position:relative;
    margin: 6px 0 4px 0;
    height: 24px;
}


.synovideo_widget .sp_CmdSV .mute,
.synovideo_widget .sp_CmdSV .unmute,
.synovideo_widget .sp_CmdSV .stop,
.synovideo_widget .sp_CmdSV .play,
.synovideo_widget .sp_CmdSV .pause{
	font-size : 1.5em;
    margin: 0 2px;
}