.tabbed_area 
{
    //border:1px solid #494e52;
    //background-color:#636d76;
    //padding:8px;
} 

ul.tabs 
{
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:6px;
}            
             
ul.tabs li 
{
    list-style:none;
    display:inline;
}

ul.tabs li a 
{
    //background-color:#464c54;
    //color:#ffebb5;
    padding:8px 14px 8px 14px;
	width: 180px;
    //text-decoration:none;
    //font-size:9px;
    //font-family:Verdana, Arial, Helvetica, sans-serif;
    //font-weight:bold;
    //text-transform:uppercase;
    //border:1px solid #464c54;
}

ul.tabs_alpha 
{
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:6px;
	display:none;
}            
             
ul.tabs_alpha li 
{
    list-style:none;
    display:inline;
}

ul.tabs_alpha li a 
{
padding: 4px 4px 4px 4px;
width: 30px;
}
 
ul.tabs li a:hover 
{

}
 
ul.tabs li a.active 
{

} 

.content 
{

}

 
#content_tvshow_detail { display:none; }  

.btn-noselect {
    background-color: #b7b7b7;
    border-color: #adadad;
}

.btn.bt_play a  {
    vertical-align: middle;
}

div.result , div.result_movie ,div.result_tvshow  ,div.resultlist_tvshow ,div.resultlist_tvrecording
{
	width: 180px;
	height: 280px;
	margin: 0px 3px 3px 0px;
	display:inline;
	float: left;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

div.result.episode, div.result_tvshow.episode 
{
	width: 280px;
	height: 160px;

}

div.resultposter
{
	background-size: 100% 100%;
	width: 180px;
	height: 276px;
}

div.resultposter.episode
{
	width: 280px;
	height: 156px;
}

div.titre_episode 
{
	display:block;
	margin: 0px 3px 3px 0px;
}

div.result a, div.result_movie a, div.result_tvshow a , div.resultlist_tvshow  a,div.resultlist_tvrecording a
{
	//display:inline;
    bottom: 0px;
}

div.infoposter
{
	display:inline;
    bottom: 0px;
}

div.infofile 
{
	left: 180px;
	width: 450px;
	height: 280px;
	margin: 0px 3px 3px 0px;
	display:inline;
	float: left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

div.infofile.episode
{
	height: 170px;
}

div.resultinfo
{
	top: 280px;
	width: 100%;
	height: calc(100% - 280px);
	margin: 0px 3px 3px 0px;
	display:block;
	float: left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
div.resultinfo.episode 
{
	height: calc(100% - 175px);;
}

div.commande 
{
	//left: 180px;
	//width: calc(100% - 200px);
	width: 160px;
	//height: 280px;
	margin: 0px 3px 3px 0px;
	display:inline;
	float: right;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

label.info-label 
{
	width: 100%;
	height: 15px;
	margin: 0px 3px 3px 0px;
}

label.lbl-libelle
{
	color: #ba1717;
	width: 80px;
	height: inherit;
	display: inline;
}

label.lbl-info
{
	width: calc(100% - 100px);
	height: inherit;
	display: inline;
}

.watch-status {
    height: 4px;
    width: 100%;
    top: 276px;
    position: inherit;
}

.watch-status .grey-bar {
	height: inherit;
    width: 100%;
    background-color: #000000;
}

.watch-status .blue-bar {
	height: inherit;
    background-color: #00D4FF;
}